.headbg {
    width: 100%;
}
.headbg img {
    width: 100%;
}
.about {
    background: url(./../assets/Rectangle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 600px;
    height: 600px;
    margin: 150px 0;
    padding: 0 120px;
    color: white;
    line-height: 1.6em;
    position: relative;
}
.about div {
    padding: 0 40px;
    display: flex;
    width: 100%;
    position: relative;
    z-index: 33333;
}
.about div:first-of-type {
    justify-content: space-between;
}
.about div:first-of-type .abnf {
    width: 300px;
    height:  400px;
    border-radius: 10px;
    transform: translateY(-20%);
}
.about div:first-of-type p {
    font-size: 18px;
}
.about div nav {
    display: flex;
    flex-direction: column;
    width: 600px;
}
.about div nav h3 {
    font-size: 30px;
    margin: 40px 0;
}
.about div nav button {
    padding: 10px;
    font-size: 16px;
    width: 150px;
    outline: none;
    border: none;
    margin: 20px 0;
    border-radius: 5px;
    background: #656565;
    color: white;
}
.about div:last-of-type  {
    display: flex;
    justify-content: space-between;
    transform: translateY(-10%);
}
.about div:last-of-type p {
    font-size: 18px;
    width: 500px;
    margin-left: 150px;
}
.about div:last-of-type img {
    min-width: 300px;
    height: 400px;
    border-radius: 10px;
    transform: translateY(-25%);
}
.abr {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1111;
    opacity: 0.8;
}
.abl {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1111;
    opacity: 0.8;
}
.abe {
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 1111;
    opacity: 0.8;
    width: 300px;
    height: 300px;
}
.abnr {
    display: none;
}
@media only screen and (max-width: 800px) {
    .headbg {
        width: 100%;
        height: 200px;
    }
    .headbg img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .about {
        width: 100%;
        height: fit-content;
        margin: 0;
        padding: 40px 20px;
        line-height: 1.5em;
    }
    .about div {
        width: 100%;
        padding: 0;
        flex-direction: column-reverse;
    }
    .about div:first-of-type {
        justify-content: center;
        align-items: flex-start;
    }
    .about .abnf {
        display: none;
    }
    .about .abnr {
        display: block;
        width: 100%;
        height: calc(100vw - 40px);
        border-radius: 10px;
        margin: 20px 0;
    }
    .about div:first-of-type p {
        font-size: 16px;
        width: 100%;
    }
    .about div nav h3 {
        margin: 30px 0;
    }
    .about div nav {
        width: 100%;
    }
    .about div nav button {
        width: 100px;
    }
    .about div:last-of-type  {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
        transform: none;
    }
    .about div:last-of-type p {
        font-size: 16px;
        width: 100%;
        margin-left: 0;
        padding: 20px 0;
    }
    .about div:last-of-type img {
        min-width: 100%;
        width: 100%;
        height: calc(100vw - 40px);
        transform: none;
    }
    .abr, .abl, .abe {
        display: none;
    }
}
.statements {
    width: 100%;
    height: fit-content;
    padding: 50px 0;
    background: url(./../assets/abg.png);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.statements img {
    z-index: 2222;
}
.statements .dts {
    position: absolute;
    top: 0;
    right: 55%;
    z-index: 1;
    width: 200px;
    height: 100px;
}
@media only screen and (max-width: 800px) {
    .statements {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 20px;
    }
    .statements img {
        width: 100%;
        margin: 20px 0;
    }
    .statements .dts {
        display: none;
    }
}
.values {
    padding: 50px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.values h2 {
    font-size: 30px;
    color: #db1013;
    margin: 30px 0;
}
.values div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}
.values div nav {
    background: #FCFAFA;
    margin: 20px;
    padding: 20px;
    min-height: 350px;
    height: fit-content;
}
.values div nav figure {
    background: #F2E8E9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
.values div nav span img {
    height: 100%;
    width: 100%;
}
.values div nav h4 {
    color: #101010;
    font-size: 20px;
    margin: 10px 0;
}
.values div nav p {
    color: #656565;
    line-height: 1.6em;
    margin: 10px 0;
}
@media only screen and (max-width: 800px) {
    .values {
        padding: 20px;
        width: 100%;
    }
    .values h2 {
        font-size: 25px;
        margin: 20px 0;
    }
    .values div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .values div nav {
        margin: 20px 0;
        padding: 20px;
        min-height: 350px;
        border-radius: 5px;
        height: fit-content;
    }
    .values div nav figure {
        padding: 10px;
        height: 60px;
        width: 60px;
    }
}
.team {
    padding: 50px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.team h2 {
    font-size: 30px;
    color: #db1013;
    margin: 30px 0;
}
.team div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}
.team div nav {
    background: #FCFAFA;
    margin: 20px;
}
.team div nav img {
    width: 100%;
}
.team div h4 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
    line-height: 1.5;
    color: #db1013;
}
.team div p {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0 20px;
    line-height: 1.5;
    color: #302a2a;
}
.team div nav span {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team div nav span img {
    width: 25px;
    height: 25px;
    margin: 0 5px;
}
@media only screen and (max-width: 800px) {
    .team {
        padding: 20px;
    }
    .team h2 {
        font-size: 25px;
        margin: 20px 0;
    }
    .team div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .team div nav {
        margin: 20px 0;
        border-radius: 5px;
    }
    .team div h4 {
        padding: 10px;
    }
}