.intro {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.intro .introImg {
    position: relative;
    z-index: -1;
}
.intro section {
    color: white;
    background: url(./../assets/introbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    height: 250px;
    padding: 30px 0;
    margin: -125px 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 10px;
    position: relative;
    z-index: 111;
}
.intro section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #db1013;
    opacity: 0.5;
    border-radius: 10px;
    z-index: 33;
}
.intro section p {
    z-index: 222;
    font-size: 22px;
    /* margin: 20px; */
    width: 60%;
    text-align: center;
}
.intro section div {
    width: 70%;
    z-index: 222;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}
.intro section div nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro section div nav img {
    width: 60px;
    height: 60px;
    margin: 20px;
}
/* ABOUT */
.about {
    background: url(./../assets/Rectangle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 700px;
    margin: 100px 0;
    padding: 0 120px;
    color: white;
    line-height: 1.6em;
    position: relative;
}
.about div {
    padding: 0 40px;
    display: flex;
    width: 100%;
    position: relative;
    z-index: 33333;
}
.about div:first-of-type {
    margin: 30px 0;
    justify-content: flex-end;
}
.about div:first-of-type img {
    position: absolute;
    top: 0;
    left: 10%;
    width: 400px;
    height:  450px;
    border-radius: 10px;
    transform: translateY(-30%);
}
.about div:first-of-type p {
    font-size: 20px;
}
.about div nav {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-right: 100px;
}
.about div nav h3 {
    font-size: 30px;
    margin: 40px 0;
}
.about div nav button {
    padding: 10px;
    font-size: 16px;
    width: 150px;
    outline: none;
    border: none;
    margin: 20px 0;
    border-radius: 5px;
    background: #656565;
    color: white;
}
.about div:last-of-type  {
    display: flex;
    justify-content: flex-start;
}
.about div:last-of-type p {
    font-size: 20px;
    margin: 40px auto 0 100px;
    width: 500px;
}
.about div:last-of-type img {
    position: absolute;
    top: -90px;
    right: 100px;
    min-width: 400px;
    height: 450px;
    border-radius: 10px;
}
.abr {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1111;
}
.abl {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1111;
}
.abe {
    position: absolute;
    bottom: 40%;
    left: 0;
    z-index: 1111;
}
/* FOCUS */
.focus {
    background: #F9F9F9;
    padding: 50px 170px 100px 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.focus h1 {
    font-size: 40px;
    margin-bottom: 80px;
}
.focus div {
    z-index: 111;
    display: flex;
    justify-content: space-around;
    height: 350px;
    width: 100%;
    margin: 10px;
}
.focus .focusImg {
    min-width: 500px;
    height: 430px;
    border-radius: 10px;
    transform: translateY(-55px);
}
.focus .tick {
    height: 15px;
    width: 15px;
    margin: 0 10px;
}
.focus div nav {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.focus div nav h3 {
    font-size: 27px;
    margin: 20px 0;
}
.focus div nav p {
    font-size: 20px;
    margin: 5px 0;
}
.tc {
    position: absolute;
    top: 0;
    right: 20%;
    opacity: 0.8;
}
.br {
    position: absolute;
    bottom: 0;
    right: 0;
}
.tr {
    position: absolute;
    top: 10%;
    right: 0;
}
.cl {
    position: absolute;
    top: 30%;
    left: 0;
}
/* FOUNDATION */
.maps {
    background: url(./../assets/map.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 200% 100%;
    padding-bottom: 100px;

}
.foundation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 100px;
    line-height: 1.6em;
}
.foundation h1 {
    font-size: 40px;
    margin: 60px 0 10px;
}
.foundation span {
    font-size: 20px;
    margin: 0 0 20px 0;
    color: grey;
}
.foundation div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.foundation .kids {
    width: 30%;
    height: 300px;
    display: flex;
    justify-content: center;
    position: relative;
}
.foundation .kids img {
    border-radius: 50%;
    z-index: 222;
}
.foundation .kids img:last-of-type {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.foundation .logo {
    width: 200px;
    height: 70px;
}
.foundation div nav {
    width: 60%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foundation div nav p {
    font-size: 18px;
    width: 90%;
    margin: 5px 0;
    color: gray;
}
.foundation div nav button {
    font-size: 18px;
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    background: #db1013;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 10px 35px;
}
.foundation .circle {
    width: 30%;
    height: 350px;
}
/* CLIENTS */
.clients {
    background: #F9F9F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
.clients h1 {
    font-size: 40px;
    margin: 10px 0;
    color: #db1013;
}
.clients nav {
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
}
/* INVEST */
.invest {
    display: flex;
    padding: 0 120px;
    margin-bottom: 30px;
    height: 100%;
}
.invest div:first-of-type {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.invest div h2 {
    font-size: 40px;
    width: 80%;
    margin: 30px auto 10px;
}
.invest div p {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5em;
}
.invest form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
}
.invest form label {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}
.invest form label input {
    height: 50px;
    margin: 10px 0;
}
.invest form button {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    background: #db1013;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.invest .investImg {
    height: fit-content;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.invest img {
    height: 100%;
    margin: auto;
}
.letter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 60px;
    transform: translateY(-80px);
    height: 250px;
    width: 50%;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-size: 18px;
    position: relative;
}
.letter::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./../assets/map.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}
.letter label {
    z-index: 222;
    width: 60%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.letter input {
    height: 50px;
    width: 80%;
    outline: none;
    border-radius: 10px 0 0 10px;
    border: none;
}
.letter button {
    width: 20%;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 0 10px 10px 0;
    background: #db1013;
    color: white;
    font-size: 18px;
}